<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.this_is_changwon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_go"
        android:label="창GO"
        android:roundIcon="@mipmap/ic_launcher_go_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.This_is_Changwon"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".commendActivity"
            android:exported="true" />
        <activity
            android:name=".SearchResultActivity"
            android:exported="true" />
        <activity
            android:name=".SearchActivity"
            android:exported="true" />
        <activity
            android:name=".ItemActivity"
            android:exported="true" />
        <activity
            android:name=".CustomDialog"
            android:exported="true" />
        <activity
            android:name=".rootManage"
            android:exported="true" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="fvwazyuo0y" />

        <activity
            android:name=".SpalshActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>